/*CSS DE ITEM-LIST-CONTAINER*/

.saludar {
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    margin:10px;
    text-align: center;
    
}

#hi {
    margin: 10px;
    background-color: #fcd116;
    border: 5px solid #fcd116;
    border-radius: 10px;
}

/*CSS DE ITEM-LIST*/

.itemsStyle{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 3px solid #fcd116;
    border-radius: 10px;
}



