#detail {
    font-style: italic;
    text-decoration: underline;
}

#titulo {
    margin-top: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    color: #fcd116;
}

p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-style: italic;
}

#description {
    text-align:center;
    margin: 20px;
}

img {
    border-radius: 100px;
    margin:10px;
}