
.saludar {
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    margin:10px;
    
}

#hi {
    margin: 10px;
    background-color: #fcd116;
    border: 5px solid #fcd116;
    border-radius: 10px;
}
#buy{
    margin-top:10px;
    padding: 10px;
    border-radius: 5px;
}
#less {
    margin-right: 10px;
    margin-top: 20px;    
    border-radius: 5px;
}

#plus {
    margin-left: 10px;
    border-radius: 5px;
}